$color_grey_01: rgb(61, 61, 61);
$color_grey_02: rgb(110, 110, 110);
$color_grey_03: rgb(168, 168, 168);
$color_grey_04: rgb(197, 197, 197);
$color_grey_05: rgb(226, 226, 226);
$color_grey_X: rgb(240, 240, 240);
$color_grey_Y: rgb(248, 248, 248);

$color_blue_01: rgb(40, 60, 131);
$color_blue_02: rgb(83, 99, 156);
$color_blue_03: rgb(126, 138, 181);
$color_blue_04: rgb(169, 177, 205);
$color_blue_05: rgb(212, 216, 230);

$color_gold_05: rgb(247, 244, 236);
$color_gold_04: rgb(225, 216, 189);
$color_gold_03: rgb(210, 196, 156);
$color_gold_02: rgb(195, 177, 123);
$color_gold_01: rgb(180, 157, 90);

$color_red_01: rgb(205, 5, 50);
$color_red_02: rgb(223, 93, 122);
$color_red_03: rgb(238, 168, 183);
$color_red_04: rgb(255, 234, 239);

$color_green_01: rgb(164, 168, 19);
$color_green_02: rgb(194, 196, 96);
$color_green_03: rgb(223, 225, 172);

$color_yellow_03: rgb(255, 236, 166);
$color_yellow_02: rgb(255, 222, 102);
$color_yellow_01: rgb(255, 200, 0);

$color_plum_05: rgb(216, 207, 214);
$color_plum_04: rgb(178, 159, 173);
$color_plum_03: rgb(139, 110, 132);
$color_plum_02: rgb(101, 62, 91);
$color_plum_01: rgb(62, 14, 50);

$color_white: rgb(255, 255, 255);
$color_black: rgb(0, 0, 0);

$message-success-color: rgb(204, 234, 200);
$message-success-text-color: rgb(51, 116, 27);
$message-hint-color: rgb(233, 247, 255);
$message-hint-text-color: rgb(67, 105, 155);
$message-warning-color: rgb(251, 246, 220);
$message-warning-text-color: rgb(154, 121, 73);
$message-error-color: rgb(255, 234, 239);
$message-error-text-color: rgb(205, 5, 50);
